<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="idCard.css">
    <title>ID Card</title>
</head>
<body>
        <div class="container">
            <div class="padding">
                <div class="font">
                    <div class="top">
                        <h1 class="Details">Information</h1>
                        <hr /> 
                    </div>
                    <div class="bottom">
                        <p>School:</p>
                        <p class="info">school</p>
                        <br></br>
                        <p>Supervisor:</p>
                        <p class="info">Supervisor</p>
                        <br></br>
                        <p>Team:</p>
                        <p class="info">Team</p>
                        <br></br>
                    </div>
                </div>
            </div>
            <div class="back">
                <h1 class="Details">Students</h1>
                <hr class="hr">
                <div class="details-info">
                    <p class="name-field">S1</p>
                    <br />
                    <p class="name-field">S2</p>
                    <br />
                    <p class="name-field">S3</p>
                    <br />
                    <p class="name-field">S4</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
</body>
</html>